/* Encabezado */
*{
  box-sizing: border-box;
}

body{
  background-color: black;

}
header {
display: inline-flex
flex-direction: row;
 background-color: black;
padding: 20px;
text-align: center;
 }
  
.titulo_principal {
    font-family: "Pacifico", cursive;
    font-size: 22px;
    color:rgb(223, 16, 130);

}
.titulo_secundario {
    font-family: "lato", sans-serif;
    font-size: 30px;
    color: rebeccapurple;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}


  /* BARRA DE NAVEGACION */

  .barra {
    background-color: rgb(223, 16, 130);
    font-size: 16px;
    text-align: right;
    color: white;
    padding: 12px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
  }

  nav a:hover{
    background-color: rebeccapurple;
    color: black;
    transition: 0.2s all;
  }

  /*seccion principal */
  .container-receta_principal {
    display:flex;
    flex-direction: column;
    padding: 50px;
    margin: 0 auto;
    background-color: black;
  }

  h3, h4 {
    font-size: 20px;
    font-family: "lato",sans-serif;
    color: white;
    font-weight: bold;
    text-align: justify;
    

  }

  .receita {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    color: #f2f2f2;
  }

.foto_receta1 {
  border-radius: 25px;

}

.foto_receta {
  border-radius: 25px;
}


.foto_receta:hover{
  cursor: pointer;
  border-color:rebeccapurple;
  border-style: solid;
  background-size: 5px;
  border-radius: 25px;
}
  /* Estilos publicaciones */

.medio {
  background-color: rgb(223, 16, 130);
  padding: 20px;
  color:black;

  }
  
  .text {
    margin-left: 20px;
  }
  

/*ARTICULOS*/
.container-articulos {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: flex-start;
padding: 20px;

}


  /* pie de pagina */
  footer {
    background-color: rgb(223, 16, 130);
    padding: 20px;
    text-align: center;
  }
  
